<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="WARN">


-<Properties>

<Property name="log-path">C:\logs/</Property>

</Properties>


-<Appenders>

<!-- console appender -->



-<Console name="console-log" target="SYSTEM_OUT">

<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n"/>

</Console>

<!-- file appender -->



-<RollingFile name="trace" filePattern="${log-path}/trace-%d{yyyy-MM-dd-HH}.log" fileName="${log-path}/trace.log">

<!-- log pattern -->



-<PatternLayout>

<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>

</PatternLayout>

<!-- set file size policy -->



-<Policies>

<TimeBasedTriggeringPolicy modulate="true" interval="1"/>

<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->


</Policies>

<DefaultRolloverStrategy max="500"/>

</RollingFile>


-<RollingFile name="report" filePattern="${log-path}/trace-%d{yyyy-MM-dd-HH}.log" fileName="${log-path}/trace.log">

<!-- log pattern -->



-<PatternLayout>

<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>

</PatternLayout>

<!-- set file size policy -->



-<Policies>

<TimeBasedTriggeringPolicy modulate="true" interval="1"/>

<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->


</Policies>

<DefaultRolloverStrategy max="500"/>

</RollingFile>

<!-- file appender -->



-<RollingFile name="sampling" filePattern="${log-path}/sampling-%d{yyyy-MM-dd-HH}.log" fileName="${log-path}/sampling.log">

<!-- log pattern -->



-<PatternLayout>

<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>

</PatternLayout>

<!-- set file size policy -->



-<Policies>

<TimeBasedTriggeringPolicy modulate="true" interval="1"/>

<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->


</Policies>

<DefaultRolloverStrategy max="2500"/>

</RollingFile>

</Appenders>


-<Loggers>


-<Logger name="Dialog.Designer.TraceWriter" additivity="false" level="debug">

<appender-ref ref="trace"/>
> 
<!--	<appender-ref ref="console-log"/>-->


</Logger>


-<Logger name="sampling" additivity="false" level="debug">

<appender-ref ref="sampling"/>

<appender-ref ref="console-log"/>

</Logger>


-<Logger name="Dialog.Designer.ReportWriter" additivity="false" level="debug">

<appender-ref ref="report"/>

<!--	<appender-ref ref="console-log"/>-->


</Logger>


-<Root additivity="false" level="debug">

<!-- <AppenderRef ref="console-log"/>-->


</Root>

</Loggers>

</Configuration>